# Visual Studio cache
.vscode/
*.user
*.suo

# .NET build output
[Bb]in/
[Oo]bj/

# Node
node_modules/
dist/
*.local

# Environment / secrets
.env
.env.*

# Build artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# OS
.DS_Store
Thumbs.db
